<div>
  <%# section-all-lists %>
  <section class="min-w-full min-h-svh bg-slate-100 py-5">
    <div class="bg-white rounded-md shadow-sm py-2">
      <div class="w-full px-4 py-2">
        <p class="px-2 text-center">TOEIC700点</p>
      </div>
      <div class="flex">
        <div class="w-20 md:w-40 text-center">
          <p class="text-sm">残り</p>
          <p class="text-lg">100日</p>
        </div>
        <div class="flex-1" >
          <div class="w-full bg-gray-300 rounded-lg h-full">
            <div class="bg-blue-500 h-full rounded-lg" style="width: 50%;"></div>
          </div>
        </div>
        <div class="w-20 md:w-40 text-center">
          <p class="text-sm">完了日</p>
          <p class="text-lg">8月20日</p>
        </div>
      </div>
    </div>
  </section>
</div>
