<p>こんにちは、<%= @resource.nickname %>様!</p>
<p>パスワードの変更を受け付けました。以下のリンクから変更できます。</p>
<p><%= link_to "パスワードを変更する", edit_password_url(@resource, reset_password_token: @token) %></p>
<p>※パスワードリセットの申請に心当たりがない場合は、恐れ入りますがこのメールを破棄してください。</p>
<p>※上記リンクをクリックして新しいパスワードを作成しない限り、パスワードは変更されません。</p>
<p>※リンクの有効期限は1時間です。</p>
